$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

$primary: #2563eb;
$primary-hover: #1d4ed8;

$success: #16a34a;
$error: #dc2626;

$background: #f5f7fb;
$white: #ffffff;
$background-form:#C3C3C3;
$yellow: #f59e0b;

$text: #1f2937;
$text-light: #6b7280;

$border: #d1d5db;

$radius: 8px;

$shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

$transition: 0.2s ease;
